<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js</title>
</head>
<body>
    <h1>Welcome to our shop</h1>
</body>
</html>

<!-- {
    "openapi": "3.0.0",
    "info": {
        "title": "Express API",
        "version": "1.0.0",
        "description": "A sample API for learning Express"
    },
    "servers": [
        {
            "url": "http://localhost:8000",
            "description": "Local development server"
        }
    ],
    
    "paths": {
        "/": {
            "get": {
                "tags": {
                   "name": "product"
                },
                "summary": "Returns the home page",
                "responses": {
                    "200": {
                        "description": "The home page",
                        "content": {
                            "text/html": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "/product": {
        "get": {
            "summary": "Returns the product with the specified title and price",
            "parameters": [
                {
                    "name": "title",
                    "in": "query",
                    "description": "The title of the product",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "price",
                    "in": "query",
                    "description": "The price of the product",
                    "required": false,
                    "schema": {
                        "type": "number"
                    }
                }
            ],
            "responses": {
                "200": {
                    "description": "The product with the specified title and price",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_name": {
                                        "type": "string",
                                        "description": "The title of the product"
                                    },
                                    "user_surname": {
                                        "type": "number",
                                        "description": "The price of the product"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} -->